$off-white: #f6f6f6;
$featured-color: DarkRed;

body {
  background-color: $off-white;
  height: 100vh;
  height: 100vw;
}

.container {
  font-family: Verdana;
  font-size: 0.8em;
}

.page-wrapper {
  padding: 21px;

  .featured {
    color: $featured-color;
  }

  .page-content {
    background-color: $featured-color;
    padding: 42px;
    color: $off-white;
  }
}